body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: white;
}

.carousel img {
  height: 30rem;
  padding: 3.2rem;
  margin: 2rem 0.4rem;
  border-radius: 22%;
}

.carousel a {
  margin: 0;
}

.carousel-caption h3 {
  color: white;
  font-size: 1.7rem;
  width: 32rem;
  margin-top: 8rem;
  margin-left: 29rem;
}
.buy-now-button {
  background-color: #0c2e53;
  border-radius: 8px;
  color: white;
  padding: 1rem 4.37rem;
}
.buy-now-buttonn {
  color: white;
  border-radius: 8px;

  padding: 1rem 3.2rem;
}
.buy-now-button:hover {
  background-color: #548fc9 !important;
  color: white;
  border-radius: 8px;
  padding: 1rem 4.37rem;
}

.btn-outline-search {
  --bs-btn-color: #548fc9;
  --bs-btn-border-color: #548fc9;
  --bs-btn-hover-color: #0c2e53;
  --bs-btn-hover-bg: #548fc9;
  --bs-btn-hover-border-color: #548fc9;
  --bs-btn-focus-shadow-rgb: 12, 46, 83;
  --bs-btn-active-color: #0c2e53;
  --bs-btn-active-bg: #548fc9;
  --bs-btn-active-border-color: #548fc9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #548fc9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #548fc9;
  --bs-gradient: none;
}
.product-details-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #0c2e53;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.product-details-link:hover {
  color: #548fc9;
}

.product-details-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #548fc9;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.product-details-link:hover::after {
  transform: scaleX(1);
}

.cardp {
  transform-style: preserve-3d;
  position: relative;
  padding: 25px;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.1s ease;
}

.card-img,
.card-img-bottom,
.card-img-top {
  height: 14rem;
}
/* .container-header{
background-color: rgb(15, 78, 212);
    } */

@media (max-width: 1400px) {
  .carousel-caption h3 {
    display: none;
  }
  .carousel img {
    height: 22rem;
  }
  .carousel-caption h2 {
    font-size: 1.11rem;
  }
}

@media (max-width: 600px) {
  .buy-now-button {
    padding: 0.75rem 10rem;
  }
}
